<footer>
    <div class="footer-container">
        <div class="social-links">
            <a href="https://www.instagram.com/Bienestar_consultora/" target="_blank"><img src="recursos/logos/instagram.png" alt="Instagram"></a>
            <a href="https://www.linkedin.com/in/bienestar-consultora-704a502a1/?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank"><img src="recursos/logos/linkedin.png" alt="LinkedIn"></a>
        </div>
        <br>
        <div class="footer-nav-wrapper">
            <nav class="footer-nav">
                <ul>
                <li class="nav-item">
                    <a class="nav-link" href="index.html#intro">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="nosotros.html">Nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="index.html#por-que-elegirnos">¿Por qué elegirnos?</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="index.html#servicios">Servicios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="index.html#iffies">Clientes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="index.html#contacto">Contacto</a>
                </li>
                </ul>
            </nav>

        </div>
        <div class="footer-bottom">
            <div class="footer-logo">
                <img src="recursos/logos/bienestar.png" alt="Logo Bienestar Consultora" >
                <p class="footer-copyright">2025 Bienestar Consultora. Todos los derechos reservados.</p>
            </div>
           
        </div>
    </div>
</footer>
