<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: rgba(51, 51, 51, 0.5); backdrop-filter: blur(5px);">
        <div class="container">
            <a class="navbar-brand" href="index.html">
                <img src="/recursos/logos/logo-Bienestar.png" alt="Bienestar Consultora Logo" style="height: 50px; vertical-align: middle; margin-right: 5px;">
                Bienestar Consultora
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="nosotros.html">Nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="index.html#por-que-elegirnos">¿Por qué elegirnos?</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="index.html#servicios">Servicios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="index.html#iffies">Clientes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="index.html#contacto">Contacto</a>
                    </li>
                    <li class="nav-item">
                        <button type="button" class="nav-link btn btn-primary text-white" data-bs-toggle="modal" data-bs-target="#cotizarModal" style="background-color: #007bff; border-color: #007bff;">Cotizar Ahora</button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</body>
</html>