<link rel="stylesheet" href="/styles/intro.css">
<section >
    <div id="intro">
        <h2>La seguridad laboral no es una opción, es una necesidad.</h2>
        <p>En Bienestar Consultora, garantizamos que tu empresa cumpla con la normativa y sea un espacio seguro para todos. Con más de 10 años de experiencia, ofrecemos soluciones innovadoras y personalizadas que reducen los riesgos y mejoran la productividad de tu equipo.</p>
        <div class="cta-container">
            <a href="#servicios" class="cta-button">Nuestros Servicios</a>
            <a href="#contacto" class="cta-button">Contáctanos</a>
        </div>
    </div>
</section>