<link rel="stylesheet" href="/styles/elegirnos.css">

<section id="por-que-elegirnos">
    <h2>¿Por qué elegirnos?</h2>
    <div class="card-container">
        <div class="card">
            <img src="recursos/cumplimiento.svg" alt="Cumplimiento" class="card-image" style="width: 80px; height: 80px;">
            <h3>Cumplimiento sin complicaciones</h3>
            <p>Nos aseguramos de que tu empresa cumpla con la Ley 19.587/72, evitando sanciones y garantizando tranquilidad.</p>
        </div>
        <div class="card">
            <img src="recursos/productividad.svg" alt="Riesgos" class="card-image" style="width: 80px; height: 80px;">
            <h3>Menos riesgos, más productividad</h3>
            <p>Reducimos accidentes y enfermedades laborales, mejorando el rendimiento y bienestar de tu equipo.</p>
        </div>
        <div class="card">
            <img src="recursos/planes.svg" alt="Estrategias" class="card-image" style="width: 80px; height: 80px;">
            <h3>Estrategias personalizadas</h3>
            <p>Cada empresa es única. Diseñamos planes a medida para garantizar entornos de trabajo seguros y eficientes.</p>
        </div>
        <div class="card">
            <img src="recursos/Acompañamiento.svg" alt="Acompañamiento" class="card-image" style="width: 80px; height: 80px;">
            <h3>Acompañamiento experto</h3>
            <p>Un equipo de profesionales certificados, listos para asesorarte en cada paso del proceso.</p>
        </div>
        <div class="card">
            <img src="recursos/prevencion.svg" alt="Acompañamiento" class="card-image" style="width: 80px; height: 80px;">
            <h3>Prevención proactiva de riesgos</h3>
            <p>Identificamos y abordamos posibles peligros antes de que se conviertan en problemas, minimizando accidentes y garantizando un entorno laboral más seguro.</p>
        </div>
        <div class="card">
            <img src="recursos/Respuesta.svg" alt="Acompañamiento" class="card-image" style="width: 80px; height: 80px;">
            <h3>Respuesta rápida y atención personalizada</h3>
            <p>Brindamos un servicio ágil y cercano, con asesoramiento inmediato para resolver cualquier inquietud o emergencia en tu empresa.</p>
        </div>
    </div>
</section>
