<section id="iffies">
    <h2>Ellos confían en nosotros</h2>
    <div id="logoCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="4000">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#logoCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#logoCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#logoCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#logoCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#logoCarousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="logo-row">
                    <div class="logo-item">
                        <img src="recursos/logos/arcor.png" alt="Arcor Logo">
                    </div>
                    <div class="logo-item">
                        <img src="recursos/logos/ypf.png" alt="YPF Logo">
                    </div>
                    <div class="logo-item">
                        <img src="recursos/logos/Logo-Barrick.jpg" alt="Barrick Logo">
                    </div>
                    <div class="logo-item">
                        <img src="recursos/logos/Calidra.png" alt="Calidra Logo">
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="logo-row">
                    <div class="logo-item">
                        <img src="recursos/logos/ceras.png" alt="Ceras Logo">
                    </div>
                    <div class="logo-item">
                        <img src="recursos/logos/CIICAP.jpeg" alt="CIICAP Logo">
                    </div>
                    <div class="logo-item">
                        <img src="recursos/logos/daes.webp" alt="Daes Logo">
                    </div>
                    <div class="logo-item">
                        <img src="recursos/logos/dibacco.gif" alt="Dibacco Logo">
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="logo-row">
                    <div class="logo-item">
                        <img src="recursos/logos/epse.jpeg" alt="EPSE Logo">
                    </div>
                    <div class="logo-item logo-escalable">
                        <img src="recursos/logos/joseMaria.jpeg" alt="Jose Maria Logo">
                    </div>
                    <div class="logo-item">
                        <img src="recursos/logos/logo-indumon.svg" alt="Indumon Logo">
                    </div>
                    <div class="logo-item">
                        <img src="recursos/logos/logo-malvar.png" alt="Malvar Logo">
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="logo-row">
                    <div class="logo-item">
                        <img src="recursos/logos/maggiora.jpeg" alt="Maggiora Logo">
                    </div>
                    <div class="logo-item">
                        <img src="recursos/logos/logo.png" alt="Logo">
                    </div>
                    <div class="logo-item">
                        <img src="recursos/logos/mecanizadosDiaz.png" alt="Mecanizados Diaz Logo">
                    </div>
                    <div class="logo-item logo-escalable">
                        <img src="recursos/logos/randstad.png" alt="Randstad Logo">
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="logo-row">
                    <div class="logo-item logo-escalable">
                        <img src="recursos/logos/san-juan-de-los-olivos.jpg" alt="San Juan de los Olivos Logo">
                    </div>
                    <div class="logo-item logo-escalable">
                        <img src="recursos/logos/vallesAndinos.jpeg" alt="Valles Andinos Logo">
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#logoCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#logoCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <a href="#contacto" class="cta-button">¿Vos qué estás esperando? ¡Contáctanos!</a>
</section>