
<a href="https://wa.me/542646113923" class="whatsapp-button floating" id="whatsappButton">
    <img src="recursos/logos/whatsapp.png" alt="WhatsApp Icon"> Contáctanos por WhatsApp
</a>
<style>

.whatsapp-button {
    display: inline-block;
    background-color: #25D366;
    color: #fff;
    padding: 0.3rem 0.7rem;
    text-decoration: none;
    border-radius: 30px;
    margin-top: 1rem;
    font-size: 0.9em;
}

@media (max-width: 768px) {
    .whatsapp-button {
        padding: 0.4rem 0.8rem;
        font-size: 0.8em;
    }
    .whatsapp-button.floating {
        right: 10px !important;
    }
}

.whatsapp-button img {
    height: 30px;
    width: auto;
    vertical-align: middle;
    margin-right: 0.3rem;
}

.whatsapp-button.floating {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}
</style>

